:host {
    display: block;
    margin-bottom: 30px;
}

.page-actions {
    padding: 10px 16px;
    display: flex;

    .action-spacer {
        flex: 1 1 auto;
    }

    mat-checkbox {
        display: block;
        margin-top: 8px;
    }
}
