:host {
    display: block;
    margin-bottom: 30px;
}

.card-container {
    text-align: left;
    width: 100%;
    max-width: 350px;
    display: inline-block;
}

button[mat-button] {
    text-transform: uppercase;
}

.no-characters {
    margin: 10px 0;
    background-color: #424242;
    padding: 0 10px;
    line-height: 40px;
    font-size: 16px;
}

.error {
    color: var(--mat-sys-error);

    &.error-message {
        line-height: 40px;
        margin: 0 10px;
        flex: 1;
    }
}