<div class="page-container">
    <ng-container *ngIf="!loading; else loadingDiv">
        <ng-container *ngIf="characterData.length; else noCharacters">
            <div class="characters">
                <div class="character">
                    <span class="cc-icon"></span>
                    <span class="cc"></span>
                    <span class="gg-col gg-icon" [style.background-image]="'head' | icon:'gear-slot'"></span>
                    <span class="gg-col gg-icon" [style.background-image]="'neck' | icon:'gear-slot'"></span>
                    <span class="gg-col gg-icon" [style.background-image]="'shoulder' | icon:'gear-slot'"></span>
                    <span class="gg-col gg-icon" [style.background-image]="'back' | icon:'gear-slot'"></span>
                    <span class="gg-col gg-icon" [style.background-image]="'chest' | icon:'gear-slot'"></span>
                    <span class="gg-col gg-icon" [style.background-image]="'wrist' | icon:'gear-slot'"></span>
                    <span class="gg-col gg-icon" [style.background-image]="'hands' | icon:'gear-slot'"></span>
                    <span class="gg-col gg-icon" [style.background-image]="'waist' | icon:'gear-slot'"></span>
                    <span class="gg-col gg-icon" [style.background-image]="'legs' | icon:'gear-slot'"></span>
                    <span class="gg-col gg-icon" [style.background-image]="'feet' | icon:'gear-slot'"></span>
                    <span class="gg-col gg-icon" [style.background-image]="'finger' | icon:'gear-slot'"></span>
                    <span class="gg-col gg-icon" [style.background-image]="'finger' | icon:'gear-slot'"></span>
                    <span class="gg-col gg-icon" [style.background-image]="'trinket' | icon:'gear-slot'"></span>
                    <span class="gg-col gg-icon" [style.background-image]="'trinket' | icon:'gear-slot'"></span>
                    <span class="gg-col gg-icon" [style.background-image]="'mainhand' | icon:'gear-slot'"></span>
                    <span class="gg-col gg-icon" [style.background-image]="'offhand' | icon:'gear-slot'"></span>
                </div>

                <div *ngFor="let result of characterData" class="character">
                    <ng-container *ngIf="!result.loading && !result.error">
                        <span class="cc-icon" [style.background-image]="result?.media | mediaAsset:'avatar' | safeBackgroundImage"></span>
                        <span class="cc cc-{{ result?.profile?.character_class.id }}">{{ result.info.name }}</span>

                        <span class="gg-col"><gear-ilvl [equipment]="result.equipment.equipped_items" slot="HEAD"></gear-ilvl></span>
                        <span class="gg-col"><gear-ilvl [equipment]="result.equipment.equipped_items" slot="NECK"></gear-ilvl></span>
                        <span class="gg-col"><gear-ilvl [equipment]="result.equipment.equipped_items" slot="SHOULDER"></gear-ilvl></span>
                        <span class="gg-col"><gear-ilvl [equipment]="result.equipment.equipped_items" slot="BACK"></gear-ilvl></span>
                        <span class="gg-col"><gear-ilvl [equipment]="result.equipment.equipped_items" slot="CHEST"></gear-ilvl></span>
                        <span class="gg-col"><gear-ilvl [equipment]="result.equipment.equipped_items" slot="WRIST"></gear-ilvl></span>
                        <span class="gg-col"><gear-ilvl [equipment]="result.equipment.equipped_items" slot="HANDS"></gear-ilvl></span>
                        <span class="gg-col"><gear-ilvl [equipment]="result.equipment.equipped_items" slot="WAIST"></gear-ilvl></span>
                        <span class="gg-col"><gear-ilvl [equipment]="result.equipment.equipped_items" slot="LEGS"></gear-ilvl></span>
                        <span class="gg-col"><gear-ilvl [equipment]="result.equipment.equipped_items" slot="FEET"></gear-ilvl></span>
                        <span class="gg-col"><gear-ilvl [equipment]="result.equipment.equipped_items" slot="FINGER_1"></gear-ilvl></span>
                        <span class="gg-col"><gear-ilvl [equipment]="result.equipment.equipped_items" slot="FINGER_2"></gear-ilvl></span>
                        <span class="gg-col"><gear-ilvl [equipment]="result.equipment.equipped_items" slot="TRINKET_1"></gear-ilvl></span>
                        <span class="gg-col"><gear-ilvl [equipment]="result.equipment.equipped_items" slot="TRINKET_2"></gear-ilvl></span>
                        <span class="gg-col"><gear-ilvl [equipment]="result.equipment.equipped_items" slot="MAIN_HAND"></gear-ilvl></span>
                        <span class="gg-col"><gear-ilvl [equipment]="result.equipment.equipped_items" slot="OFF_HAND"></gear-ilvl></span>
                    </ng-container>
                    <ng-container *ngIf="!result.loading && result.error">
                        <span class="cc-icon"></span>
                        <span class="cc error">{{ result.info.name }}</span>
                        <span class="error error-message">
                            Error loading character. Ensure that it exists and you have logged in recently.
                        </span>
                    </ng-container>
                </div>
            </div>
        </ng-container>
    </ng-container>
</div>

<ng-template #loadingDiv>
    <div class="centered">
        <mat-spinner diameter="30" color="accent"></mat-spinner>
    </div>
</ng-template>
<ng-template #loadingDivSmall>
    <div class="centered">
        <mat-spinner diameter="10" color="accent"></mat-spinner>
    </div>
</ng-template>
<ng-template #noCharacters>
    <div class="no-characters">
        No characters set up!
    </div>
</ng-template>