@import '../../../styles/variables';

:host {
    display: block;
    margin-bottom: 30px;
}

.card-container {
    text-align: left;
    width: 100%;
    max-width: 350px;
    display: inline-block;
}

mat-card {
    margin: 10px 10px;
}

mat-card-actions {
    text-align: right;
}

button[mat-button] {
    text-transform: uppercase;
}

.page-actions {
    display: flex;

    .action-spacer {
        flex: 1 1 auto;
    }
}

.character {
    display: flex;
    margin: 10px 0;
    background-color: #424242;

    .cc-icon {
        width: 40px;
        height: 40px;
        background-size: cover;
    }

    .gg-icon {
        width: 35px;
        height: 35px;
        background-size: cover;
        margin-right: 2px;
        margin-top: 2px;

        &:last-of-type {
            margin-right: 0;
        }
    }

    .cc {
        text-transform: capitalize;
        width: 150px;
        padding: 0 10px;
        line-height: 40px;
        font-size: 16px;
    }

    .progress-bar {
        flex: 1;
        border: 1px solid white;
        margin: 8px 10px;
        position: relative;

        .progress-level {
            display: block;
            height: 100%;
            position: absolute;
            top: 0;
            background: rgb(50,1,46);
            background: linear-gradient(0deg, rgba(50,1,46,1) 0%, rgba(113,25,101,1) 100%);        }

        .progress-secondary {
            display: block;
            height: 100%;
            position: absolute;
            top: 0;
            background: rgb(182,168,123);
            background: linear-gradient(180deg, rgba(182,168,123,1) 0%, rgba(106,94,78,1) 100%);
        }

        .progress-name {
            position: absolute;
            width: 100%;
            text-align: center;
        }
    }
}

.no-characters {
    margin: 10px 0;
    background-color: #424242;
    padding: 0 10px;
    line-height: 40px;
    font-size: 16px;
}


.error {
    color: $accent;

    &.error-message {
        line-height: 40px;
        margin: 0 10px;
        flex: 1;
    }
}