@import '~@angular/material/theming';

$primary-palette: mat-palette($mat-deep-purple);
$accent-palette: mat-palette($mat-deep-orange);

$primary: mat-color($primary-palette);
$accent: mat-color($accent-palette);
