@use '@angular/material' as mat;

.login-container {
    text-align: center;
    width: 400px;
    margin: 0 auto;

    .login-text {
        text-align: left;
        margin-bottom: 30px;
    }
}

button.login-button {
    width: 100%;
    height: 42px;
    font-size: 16px;
    font-weight: bold;

    &.battlenet {
        @include mat.button-overrides((
            filled-container-color: #0e86ca,
            filled-label-text-color: white,
        ));
    }
}
