<mat-toolbar class="mat-elevation-z12">
    @if (isMobile()) {
        <button
            matIconButton
            (click)="openSidenav()"
            matTooltip="Open menu"
            style="margin-right: 15px"
        >
            <mat-icon>menu</mat-icon>
        </button>
    }

    <strong>WoW Checklist</strong>
    <span class="toolbar-spacer"></span>

    @if (userInfo()?.battletag) {
        <span class="userinfo">Welcome, {{ userInfo()!.battletag }}</span>
    }
</mat-toolbar>

<mat-sidenav-container class="mat-typography">
    <mat-sidenav
        class="mat-elevation-z6"
        [mode]="isMobile() ? 'over' : 'side'"
        [fixedInViewport]="isMobile()"
        [(opened)]="isOpened"
    >
        <a class="link" routerLink="home" routerLinkActive="active" (click)="closeSidenav()">
            <mat-icon>home</mat-icon>
            <span>Checklist</span>
        </a>

        <div class="submenu">
            @for (
                character of allCharacters();
                track character.region + character.realm + character.name
            ) {
                <a
                    class="small-link"
                    routerLinkActive="active"
                    [routerLink]="[
                        '/',
                        character.region,
                        character.realm,
                        character.name,
                        'checklist',
                    ]"
                    (click)="closeSidenav()"
                >
                    <span class="character">{{ character.name }}</span>
                </a>
            }
        </div>

        <a class="link" routerLink="gear-grid" routerLinkActive="active" (click)="closeSidenav()">
            <mat-icon>grid_on</mat-icon>
            <span>Gear Grid</span>
        </a>

        <a class="link" routerLink="import" routerLinkActive="active" (click)="closeSidenav()">
            <mat-icon>sync_alt</mat-icon>
            <span>Import / Export</span>
        </a>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet />
    </mat-sidenav-content>
</mat-sidenav-container>
