<ng-container *ngIf="!loading; else loadingDiv">
    <ng-container *ngIf="!error; else errorDiv">
        <div class="character-data group">
            <img [src]="characterData.media.avatar_url" /> <span class="cc cc-{{ characterData.profile.character_class.id }}">{{ characterData.profile.name }}</span> {{ characterData.profile.equipped_item_level }} ({{ characterData.equipment.equipped_items | hoaLevel }})
            
            <div class="pull-right">
                <button (click)="refresh()">Refresh</button>
                <label>
                    <input type="checkbox" [(ngModel)]="hideCompleted" (ngModelChange)="hideCompletedChange($event)" />
                    Hide Completed Items
                </label>
            </div>
        </div>

        <table>
            <ng-container *ngFor="let item of evaluatedChecklist | showCompleted:hideCompleted">
                <tr *ngIf="item.isShown" [class.complete]="item.isCompleted" [class.incomplete]="!item.isCompleted">
                    <td>
                        <a [attr.data-wowhead]="item.wowheadId">
                            <span class="item-name item-indention-{{ item.indention }}" [innerHTML]="item.name"></span>
                        </a>
                    </td>
                    <td>{{ item.note }}</td>
                    <td>{{ item.isCompleted ? 'done' : '-' }}</td>
                </tr>
                <ng-container *ngIf="item.subitems.length">
                    <tr *ngFor="let subitem of item.subitems" class="subitem">
                        <td><span class="item-name item-indention-{{ item.indention + 1}}">{{ subitem }}</span></td>
                        <td></td>
                        <td></td>
                    </tr>
                </ng-container>
            </ng-container>
        </table>
    </ng-container>
</ng-container>

<ng-template #loadingDiv>Loading ...</ng-template>
<ng-template #errorDiv>
    <div>An error occured: {{ error }}.</div>
    <div>Have you set up the character on the <a routerLink="/">Main screen?</a></div>
</ng-template>