@import '~@angular/material/theming';

.page-actions, mat-card {
    width: 100%;
    max-width: 600px;
}

table {
    width: 100%;
    
    ::ng-deep h2, ::ng-deep h3, ::ng-deep h4 {
        font-weight: 500;
        margin-bottom: 0;
    }
}


[mat-card-avatar] {
    margin-top: 20px;
    background-size: cover;
}

.page-actions {
    padding: 10px 16px;

    mat-checkbox {
        display: block;
        margin-top: 8px;
    }
}

.character-quick-switch {
    margin: -10px 0 0 -20px;
    width: calc(100% + 40px);
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0;
    
    .character {
        text-transform: capitalize;
        padding: 0 20px;
        height: 64px;
        line-height: 64px;
        cursor: pointer;

        > mat-icon {
            margin-top: 20px;
        }

        &:hover, &.active {
            background-color: rgba(255, 255, 255, 0.12);
        }
    }
}

tr {
    color: black;

    &.incomplete {
        background-color: mat-color(mat-palette($mat-orange, 200));
    }
    &.complete {
        background-color: mat-color(mat-palette($mat-light-green, 300));
    }
    &.subitem {
        background-color: mat-color(mat-palette($mat-indigo, 200));
    }

    td {
        padding: 3px 10px;

        &.column-note {
            text-align: center;
            width: 100px;
        }

        &.column-completed {
            width: 30px;
            text-align: center;
            padding: 3px 10px 0px
        }
    }
}

a[data-wowhead] {
    display: block;
}

.item-name {
    display: inline-block;

    &.item-indention-1 {
        margin-left: 15px;
    }
    &.item-indention-2 {
        margin-left: 30px;
    }
    &.item-indention-3 {
        margin-left: 45px;
    }
}