table {
    width: 100%;
    max-width: 600px;
}

tr {
    color: black;

    &.incomplete {
        background-color: rgb(244, 176, 132);
    }
    &.complete {
        background-color: rgb(169, 208, 142);
    }

    td {
        padding: 3px 10px;
    }
}

.item-name {
    display: inline-block;

    &.item-indention-1 {
        margin-left: 15px;
    }
    &.item-indention-2 {
        margin-left: 30px;
    }
    &.item-indention-3 {
        margin-left: 45px;
    }
}