:host {
    display: block;
    margin-bottom: 30px;
}

.page-actions {
    display: flex;

    .action-spacer {
        flex: 1 1 auto;
    }
}

.no-characters {
    margin: 10px 0;
    background-color: #424242;
    padding: 0 10px;
    line-height: 40px;
    font-size: 16px;
}
