<ng-container *ngIf="!loading; else loadingDiv">
    <ng-container *ngIf="characterData.length; else noCharacters">
        <button (click)="refresh()">Refresh All</button>
        <div *ngFor="let result of characterData">
            <ng-container *ngIf="result">
                <div [routerLink]="[ '/', result.info.region, result.info.realm, result.info.name ]">
                    <img [src]="result.media.avatar_url" /> <span class="cc cc-{{ result.profile.character_class.id }}">{{ result.profile.name }}</span> {{ result.profile.equipped_item_level }} ({{ result.equipment.equipped_items | hoaLevel }})
                </div>
            </ng-container>
        </div>
    </ng-container>
</ng-container>

<ng-template #loadingDiv>Loading ...</ng-template>
<ng-template #noCharacters>
    No characters set up!
    <button (click)="setupTestData()">Click to set up test data</button>
</ng-template>