// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
     @include mat.theme((color: (
            primary: mat.$violet-palette,
            tertiary: mat.$orange-palette,
            theme-type: dark,
        ),
        typography: Roboto,
        density: 0,
    ));

    @include mat.toolbar-overrides((
        container-background-color: var(--mat-sys-primary-container),
        container-text-color: var(--mat-sys-on-primary-container),
    ));

    @include mat.sidenav-overrides((
        container-background-color: var(--mat-sys-secondary-container),
        container-text-color: var(--mat-sys-on-secondary-container),
        container-shape: 0,
    ));
}

body {
    // Default the application to a light color theme. This can be changed to
    // `dark` to enable the dark color theme, or to `light dark` to defer to the
    // user's system settings.
    color-scheme: dark;

    // Set a default background, font and text colors for the application using
    // Angular Material's system-level CSS variables. Learn more about these
    // variables at https://material.angular.dev/guide/system-variables
    background-color: var(--mat-sys-surface);
    color: var(--mat-sys-on-surface);
    font: var(--mat-sys-body-medium);

    // Reset the user agent margin.
    margin: 0;
}

/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


.cc {
    &.cc-1 { color: #C79C6E; }      // Warrior
    &.cc-2 { color: #F58CBA; }      // Paladin
    &.cc-3 { color: #ABD473; }      // Hunter
    &.cc-4 { color: #FFF569; }      // Rogue
    &.cc-5 { color: #ffffff; }      // Priest
    &.cc-6 { color: #c41f3b; }      // Death Knight
    &.cc-7 { color: #0070de; }      // Shaman
    &.cc-8 { color: #40c7eb; }      // Mage
    &.cc-9 { color: #8787ed; }      // Warlock
    &.cc-10 { color: #00ff96; }     // Monk
    &.cc-11 { color: #ff7d0a; }     // Druid
    &.cc-12 { color: #a330c9; }     // Demon Hunter
    &.cc-13 { color: #33937f; }     // Evoker
}

.group:after {
    content: "";
    display: table;
    clear: both;
}
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}

.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

.centered {
    width: 100%;
    height: 100%;

    > * {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.centered-x {
    width: 100%;

    > * {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
}

.page-container {
    width: 100%;
    max-width: 800px;
}