mat-card {
    margin: 10px 0;
}
mat-card-content {
    display: flex;
    padding: 5px !important;
}

.cc-icon {
    width: 40px;
    height: 40px;
    background-size: cover;
    margin-bottom: 0;
}

.cc {
    text-transform: capitalize;
    width: 150px;
    padding: 0 10px;
    line-height: 40px;
    font-size: 16px;
}

.progress-bar {
    flex: 1;
    border: 1px solid var(--mat-sys-outline);
    margin: 6px 10px;
    position: relative;
    border-radius: var(--mat-sys-corner-small);
    overflow: hidden;

    .progress-level {
        display: block;
        height: 100%;
        position: absolute;
        top: 0;
        background: var(--mat-sys-tertiary-container);
        
    }

    .progress-name {
        position: absolute;
        color: var(--mat-sys-on-tertiary-container);
        width: 100%;
        text-align: center;
        top: 2px;
    }
}

.error {
    color: var(--mat-sys-secondary);

    &.error-message {
        line-height: 40px;
        margin: 0 10px;
        flex: 1;
    }
}