:host {
    display: flex;
    margin: 10px 0;
    background-color: #424242;
}

.cc-icon {
    width: 40px;
    height: 40px;
    background-size: cover;
}

.cc {
    text-transform: capitalize;
    width: 150px;
    padding: 0 10px;
    line-height: 40px;
    font-size: 16px;
}

.progress-bar {
    flex: 1;
    border: 1px solid white;
    margin: 8px 10px;
    position: relative;

    .progress-level {
        display: block;
        height: 100%;
        position: absolute;
        top: 0;
        background: rgb(50,1,46);
        background: linear-gradient(0deg, rgba(50,1,46,1) 0%, rgba(113,25,101,1) 100%);        }

    .progress-secondary {
        display: block;
        height: 100%;
        position: absolute;
        top: 0;
        background: rgb(182,168,123);
        background: linear-gradient(180deg, rgba(182,168,123,1) 0%, rgba(106,94,78,1) 100%);
    }

    .progress-name {
        position: absolute;
        width: 100%;
        text-align: center;
    }
}

.error {
    color: var(--mat-sys-secondary);

    &.error-message {
        line-height: 40px;
        margin: 0 10px;
        flex: 1;
    }
}