<div class="page-container">
    @if (error()) {
        <div class="error">
            There was an error loading this character. Ensure that it exists and you have logged in
            recently.
        </div>
    } @else {
        <div class="page-actions group">
            <div>
                <button
                    matIconButton
                    (click)="refresh()"
                    matTooltip="Refresh character"
                    aria-label="Refresh character"
                    [disabled]="loading()"
                >
                    <mat-icon>refresh</mat-icon>
                </button>
            </div>

            <span class="action-spacer"></span>

            <div>
                <button
                    matIconButton
                    [matMenuTriggerFor]="moreOptionsMenu"
                    matTooltip="More options"
                    aria-label="More options"
                    [disabled]="loading()"
                >
                    <mat-icon>more_vert</mat-icon>
                </button>

                <mat-menu #moreOptionsMenu="matMenu">
                    <ng-template matMenuContent>
                        <button mat-menu-item (click)="toggleHideCompleted()">
                            <mat-icon>{{
                                hideCompleted() ? 'visibility' : 'visibility_off'
                            }}</mat-icon>
                            <span>{{
                                hideCompleted() ? 'Show completed items' : 'Hide completed items'
                            }}</span>
                        </button>
                        <button mat-menu-item (click)="import()">
                            <mat-icon>import_export</mat-icon>
                            <span>Import from ingame addon</span>
                        </button>
                        <button mat-menu-item [matMenuTriggerFor]="checklistSelectionMenu">
                            <mat-icon>list_alt</mat-icon>
                            <span>Active checklist</span>
                        </button>
                        <button mat-menu-item (click)="openDeletionDialog()">
                            <mat-icon>delete_forever</mat-icon>
                            <span>Remove character</span>
                        </button>
                    </ng-template>
                </mat-menu>
                <mat-menu #checklistSelectionMenu="matMenu">
                    <ng-template matMenuContent>
                        @for (checklist of availableChecklists(); track checklist.id) {
                            <button mat-menu-item (click)="enableChecklist(checklist.id)">
                                <mat-icon>{{
                                    checklist.id === characterInfo()!.checklistId ? 'check' : ''
                                }}</mat-icon>
                                <span>{{ checklist.name }}</span>
                            </button>
                        }
                    </ng-template>
                </mat-menu>
            </div>
        </div>

        <mat-card appearance="filled">
            @if (loading()) {
                <mat-card-content>
                    <div class="loading centered-x">
                        <mat-spinner diameter="25" />
                    </div>
                </mat-card-content>
            } @else {
                <mat-card-header>
                    <div
                        mat-card-avatar
                        [style.background-image]="
                            media()! | mediaAsset: 'avatar' | safeBackgroundImage
                        "
                    ></div>
                    <mat-card-title>{{
                        profile()!.name | addTitle: profile()!.active_title
                    }}</mat-card-title>
                    <mat-card-subtitle>
                        Level {{ profile()!.level }}
                        {{ profile()!.race.name }}
                        <span class="cc cc-{{ profile()!.character_class.id }}">{{
                            profile()!.character_class.name
                        }}</span
                        ><br />
                        Item Level: {{ profile()!.equipped_item_level }}<br />
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    @if (allCompleted()) {
                        <div class="completion-alert">
                            🎉 You have successfully completed all items on your checklist! 🎉
                        </div>
                    }

                    @if (!allCompleted() || !hideCompleted()) {
                        <div class="checklist">
                            @for (item of checklist(); track item) {
                                <checklist-line [item]="item" [hideCompleted]="hideCompleted()" />
                            }
                        </div>
                    }
                </mat-card-content>
            }
        </mat-card>
    }
</div>
