<h1 mat-dialog-title>Add character</h1>

<mat-dialog-content [formGroup]="form">
    <mat-form-field color="accent">
        <mat-label>Region</mat-label>
        <mat-select formControlName="region">
            @for (region of regions; track region) {
                <mat-option [value]="region">
                    {{ region | uppercase }}
                </mat-option>
            }
        </mat-select>
    </mat-form-field>
    <mat-form-field color="accent">
        <mat-label>
            {{ characterLabel() }}
        </mat-label>
        <mat-select formControlName="character">
            @for (realmWithCharacters of charactersByRealm(); track realmWithCharacters.realm) {
                <mat-optgroup [label]="realmWithCharacters.realm">
                    @for (character of realmWithCharacters.characters; track character.id) {
                        <mat-option [value]="character" [disabled]="characterAdded(character)">
                            {{ character.name }}
                        </mat-option>
                    }
                </mat-optgroup>
            }
        </mat-select>
    </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
    <button matButton (click)="close()">Cancel</button>
    <button matButton="filled" (click)="addCharacter()" [disabled]="form.invalid">Add</button>
</mat-dialog-actions>
